@using Newtonsoft.Json;
@using TestTask.Models;
@using Tfl.Api.Presentation.Entities;
@{
    ViewBag.Title = "Home Page";
}

<html>
<head>
    <title>Hello World</title>
</head>
<body>
    <div id="react-container" class="container"></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.3.2/react.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.3.2/react-dom.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.7.1/remarkable.min.js"></script>
    @Scripts.Render("~/Scripts/React/Dropdown.jsx")
</body>
</html>